@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);
@import url(./__image-container/lead__image-container.css);

.lead {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 48px;
}

@media only screen and (max-width: 800px) {
        .lead {
            padding: 0;
    }
}