.lead__caption {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin: 0px auto;
    padding-top: 8px;
    max-width:100%;
}

    @media only screen and (max-width: 800px) {
        .lead__caption {
            padding: 8px 24px 0;
    }
}

